node_modules
npm-debug.log

# ignore the development database
dev_database/

# ignore the git files
.git/
.gitignore

# ignore docs
doc/

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md
