# CONFIGURATION FILES
/.env
/Dockerfile
/docker-compose.yml
/traefik.toml
/traefik.yaml
/traefik.acme.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# development related folders (like the persistent database data)
dev_*/

# app_client distribution folder
app_client/dist/
