ENV=development
PORT=3000
PORT_DB_ADMIN=3001

DB_HOST=db
DB_USER=root
DB_PASSWORD=example
DB_DATABASE=spotair

LOG_LEVEL=notice
DEBUG=www,app.*
DEBUG_COLORS=true

REDIS_HOST=redis
REDIS_PORT=6379
COOKIE_SESSION_SECRET=noseguardarunsecreto
JWT_SECRET=yeeh3ahXai?l0iov
	// needed for generating and verifying the JWT_API_KEY
JWT_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiQVBJdXNlciJ9.xucOcCfKrgteeQtq7tHVGScUJuvEaccUUw8QRNgsuPE 
	// how to create one? visit: /APItoken (admin required)
API_USER=APIuser 
	// payload transmitted in the JWT_API_KEY

LOCAL_STORAGE=true
	// use a local container (use for development only)
LOCAL_CONTAINER_PORT=3002
CONTAINER_NAME=spotair

WEB_URL=http://localhost:3000/
API_URL=http://localhost:3000/api/

MEMBRES_DEFAULT_PASSWORD="membres!"
