html

	head
		title spotair_login
	
	body
		div
			h3 #{message}
			form(action="/login", method="POST")
				p username:
				input(type="email", name="username", placeholder="email")
				p password (required):
				input(type="password", name="password", placeholder="password")
				br
				br
				button(type="submit") Login
