/* Palette URL: http://paletton.com/#uid=33M0u1kllllaFw0g0qFqFg0w0aFkllllaFw0g0qFqFg0w0aFk8XBW1eR82DFzlwt6mVpy */

$color-primary-0: #2E4272;	/* Main Primary color */
$color-primary-1: #7887AB;
$color-primary-2: #4F618F;
$color-primary-3: #162856;
$color-primary-4: #061539;

$color-secondary-1-0: #AA6D39;	/* Main Secondary color (1) */
$color-secondary-1-1: #FFD1AA;
$color-secondary-1-2: #D49B6A;
$color-secondary-1-3: #804615;
$color-secondary-1-4: #552700;

$color-secondary-2-0: #FFF3B8;	/* Main Secondary color (2) */
$color-secondary-2-1: #FFFDF5;
$color-secondary-2-2: #FFFCEA;
$color-secondary-2-3: #E8CE4C;
$color-secondary-2-4: #CCB33A;

/* BASICS */
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;	
	
$blue: $color-primary-0;
$indigo: $color-primary-4;
$purple: #7A389B;
$pink: #D69EBD;
$red: #AA3C39;
$orange: $color-secondary-2-3;
$yellow: $color-secondary-2-0;
$green: #419641;
$teal: #7AB85C;
$cyan: #184900;

/* Bootstrap basic variants */
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $purple;
$warning: $orange;
$danger: $red;
$light: $color-secondary-2-1;
$dark: $gray-800;

/* Customized variant names */
$theme-colors: ();
$theme-colors: map-merge(
  (
    'color-primary-0': $color-primary-0,
    'color-primary-1': $color-primary-1,
    'color-primary-2': $color-primary-2,
    'color-primary-3': $color-primary-3,
    'color-primary-4': $color-primary-4,
    'color-secondary-1-0': $color-secondary-1-0,
    'color-secondary-1-1': $color-secondary-1-1,
    'color-secondary-1-2': $color-secondary-1-2,
    'color-secondary-1-3': $color-secondary-1-3,
    'color-secondary-1-4': $color-secondary-1-4,
    'color-secondary-2-0': $color-secondary-2-0,
    'color-secondary-2-1': $color-secondary-2-1,
    'color-secondary-2-2': $color-secondary-2-2,
    'color-secondary-2-3': $color-secondary-2-3,
    'color-secondary-2-4': $color-secondary-2-4,
  ),
  $theme-colors
);

$theme-colors: map-merge(
  (
		'blue': $blue,
		'indigo': $indigo,
		'purple': $purple,
		'pink': $pink,
		'red': $red,
		'orange': $orange,
		'yellow': $yellow,
		'green': $green,
		'teal': $teal,
		'cyan': $cyan,
  ),
  $theme-colors
);

$theme-colors: map-merge(
  (
		'white': $white,
		'gray-100': $gray-100,
		'gray-200': $gray-200,
		'gray-300': $gray-300,
		'gray-400': $gray-400,
		'gray-500': $gray-500,
		'gray-600': $gray-600,
		'gray-700': $gray-700,
		'gray-800': $gray-800,
		'gray-900': $gray-900,
		'black': $black,
  ),
  $theme-colors
);

/* FUNCTION COLORS */

// Body
$body-bg: $color-secondary-2-1;
$body-color: $gray-900;

// Navbar
$navbar-dark-color: $gray-100;
$navbar-dark-hover-color: $yellow;
$navbar-dark-active-color: $yellow;

/* 
 * Export the variables that you intend to share within the
 * <script> in the Vue component
 * (you have to import them also in the <script>)
 */
 
:export {
	success: $success;
	danger: $danger;
}


